@font-face {
    font-family: ARJulian;
    src: url("/assets/fonts/ARJULIAN.ttf");
}

:root {
    vertical-align: middle;
    --colorDeepSpace: #0e1015;
    --colorGreyBright: #e1e1e1;
    --colorGreyMedium: #5F5F5F;
    --colorGreyDark: #2c2c2c;
    --colorGreyTrans: rgba(200, 200, 200, 0.5);
    --colorTealNeon: #00FFFF;
    --colorTealBright: #64C8C8;
    --colorTealDark: #498082;
    --colorTealTrans: rgba(100, 200, 200, 0.5);
    --colorGreenBright: #00FF00;
    --colorPanelBackground: #2c2c2c;
    --colorPanelBorder: #5F5F5F;
    --colorScreenBlocker: rgba(0, 0, 0, 0.75);
    --colorModalHeaderDefault: #498082;
    --colorModalHeaderWarning: #c89832;
    --colorModalHeaderError: #c83232;
    --colorModalHeaderSuccess: #21922b;
    --colorModalFooter: rgba(0, 0, 0, 0);
    --colorScrollbarHandle: #5F5F5F;
    --colorScrollbarBackground: #252525;
    --colorTextDefault: #e1e1e1;
    --colorTextHighlight: #ffffff;
    --colorTextLink: #64C8C8;
    --colorTextLinkHover: #00FFFF;
    --colorTextSubtitle: #498082;
    --brandingBarHeight: 2px;
    --headerToolbarHeight: 40px;
}

body {
    color: var(--colorTextDefault);
    background-color: var(--colorDeepSpace);
    scrollbar-color: var(--colorScrollbarHandle) var(--colorScrollbarBackground);
    scrollbar-arrow-color: var(--colorTealNeon);
}

.ember-application {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.branding-bar {
    width: 100%;
    height: var(--brandingBarHeight);
    background-color: var(--colorTealNeon);
    position: relative;
    z-index: 3;
}

.page-outer {
    width: 100%;
}

.page-outlet {
    position: absolute;
    z-index: 0;
    transition: 500ms;
    height: calc(100% - (var(--headerToolbarHeight) + var(--brandingBarHeight)));
    overflow-y: auto;
    padding: 10px 20px 20px 20px;
}

.screen-blocker {
    background-color: var(--colorGreyTrans);
}