/*  Leopold Hock | 30.04.2020
Description: Contains simple color classes (fg = foreground, bg = background).  */

.fg-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.fg-teal-neon {
    color: var(--colorTealNeon);
}

.bg-teal-neon {
    background-color: var(--colorTealNeon);
}

.fg-teal-bright {
    color: var(--colorTealBright);
}

.bg-teal-bright {
    background-color: var(--colorTealBright);
}

.fg-teal-dark {
    color: var(--colorTealDark);
}

.bg-teal-dark {
    background-color: var(--colorTealDark);
}

.fg-grey-bright {
    color: var(--colorGreyBright);
}

.fg-grey-medium {
    color: var(--colorGreyMedium);
}