.interactable-container {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.label {
    min-width: 345px;
    text-align: start;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    font-family: Raleway;
    color: white;
    display: flex;
    align-items: center;
}

.label-inline {
    min-width: 0px;
    margin-right: 25px;
}

.inputfield, .dropdown-toggle, .button, .btn-secondary {
    min-height: 30px;
    background-color: var(--colorDeepSpace);
    border: none;
    border-radius: 5px;
    box-shadow: none !important;
    color: white;
    font-family: Raleway;
    padding-left: 10px;
    padding-right: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn, .button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Raleway;
    font-size: 14px;
    color: var(--colorTextDefault);
}

.btn:disabled, .button-square:disabled, .dropdown-toggle:disabled, .inputfield:disabled {
    background-color: var(--colorGreyTrans);
    cursor: default;
}

.btn:hover:not(:disabled), .button:hover:not(:disabled) {
    background-color: var(--colorTealDark);
}

.btn:active:not(:disabled), .button:active:not(:disabled) {
    background-color: var(--colorTealBright);
}

.button-icon-1 {
    width: 30px;
    border: none;
    background-color: transparent;
    color: var(--colorTealDark);
}

.button-icon-1:hover, .button-icon-1:active {
    color: var(--colorTealNeon);
}

.button-icon-1:disabled {
    color: var(--colorGreyTrans);
}

.button-icon-2 {
    border: 1px solid var(--colorTealDark);
    color: var(--colorTealDark);
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 2px;
    background: none;
}

.button-icon-2:hover, .button-icon-2:active {
    color: var(--colorTealNeon);
    border-color: var(--colorTealNeon);
}

.button-icon-2:disabled {
    color: var(--colorGreyTrans);
    border-color: var(--colorGreyTrans);
}

/*  DROPDOWN */

.dropdown {
    width: 100% !important;
}

.dropdown-toggle {
    justify-content: space-between;
}

.dropdown-toggle:active:not(:disabled) {
    border: none;
}

.dropdown-toggle::after {
    color: white;
}

.dropdown-caption {
    width: 100%;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.dropdown-menu {
    min-width: 50%;
    width: 100%;
    max-width: 490px;
    background-color: var(--colorGreyDark);
    box-shadow: 0px 8px 16px 0px var(--colorDeepSpace);
    padding: 0;
}

.dropdown-divider {
    margin: 0 0 0 0;
    border-top: 1px solid var(--colorGreyMedium);
}

.dropdown-item {
    padding: 5px 10px 5px 10px;
    margin: 0 0 0 0;
}

.dropdown-item:hover {
    background-color: var(--colorGreyMedium);
}

.dropdown-item:active {
    background-color: var(--colorGreyMedium);
}

.dropdown-item-label {
    margin: 0 0 0 0;
    align-items: center;
    color: var(--colorGreyBright);
}

.inputfield {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.inputfield:focus, .inputfield:not(:disabled):not(.disabled):active:focus, .inputfield:focus:hover {
    border: 2px solid var(--colorTealBright);
    background-color: var(--colorDeepSpace);
}

.inputfield-single-line {
    overflow-x: auto;
}

.text-area {
    resize: none;
}

.text-area-height-small {
    height: 68px;
}

.text-area-height-medium {
    height: 112px;
}

.text-area-height-large {
    height: 154px;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    border-radius: 15px;
}

.toggle input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.toggle-slider {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--colorDeepSpace);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 15px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: var(--colorGreyBright);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 15px;
}

input:checked+.toggle-slider {
    background-color: var(--colorTealDark);
}

input:checked+.toggle-slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

.button-square {
    height: 36px;
    width: 36px;
    margin-left: 2px;
    margin-right: 2px;
}

.panel-info-button {
    z-index: 1;
    position: absolute;
    top: -20px;
    right: 10px;
    background-color: var(--colorTealDark);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px var(--colorDeepSpace);
    color: white
}

.panel-info-button:hover {
    background-color: var(--colorTealBright);
}

.stellarpedia-image {
    max-width: 100%;
    /*border: solid 1px var(--colorGreyMedium);
    border-radius: 20px;*/
}

.stellarpedia-row {
    color: var(--colorTextDefault);
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--colorGreyBright);
}

.stellarpedia-row-header {
    color: var(--colorTealNeon);
    border-top: 1px solid var(--colorGreyBright);
}

.stellarpedia-row-default, .stellarpedia-row-last {
    border-bottom: 1px solid var(--colorGreyBright);
}

.stellarpedia-cell {
    border-right: 1px solid var(--colorGreyBright);
    border-left: 1px solid var(--colorGreyBright);
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    font-size: 2.75vmin;
}

.stellarpedia-cell:active, .stellarpedia-cell:hover {
    overflow: visible;
}