.button-icon-1 {
    margin: 2px;
    border: none;
    background-color: transparent;
    color: var(--colorTealBright);
}
.button-icon-1:hover {
    color: var(--colorTealNeon);
}

.button-icon-1:active {
    color: white;
}

.button-icon-1:disabled {
    color: var(--colorGreyTrans);
}

