/*  Leopold Hock | 30.04.2020   */

/*  Description: Contains style information for all layouting.  */

.marginAuto {
    margin: auto;
}

.margin-medium {
    margin: 15px;
}

.margin-vertical-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.margin-vertical-medium {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-horizontal-auto {
    margin-left: auto;
    margin-right: auto;
}

.marginSidesSmall {
    margin-left: 5px;
    margin-right: 5px;
}

.marginSidesMedium {
    margin-left: 15px;
    margin-right: 15px;
}

.fullWidth {
    width: 100%;
}

.width75 {
    width: 75%;
}

.width66 {
    width: 66.666%;
}

.width50 {
    width: 50%;
}

.width33 {
    width: 33.333%;
}

.width25 {
    width: 25%;
}

.full-height {
    height: 100%;
}

.hBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    align-items: center;
}

.hBoxItem {
    height: 100%;
    display: flex;
    float: left;
    align-items: center;
}

.vBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.vBoxItem {
    width: 100%;
    justify-content: space-between;
}

.paddingSides10px {
    padding-left: 10px;
    padding-right: 10px;
}

.paddingTopBottom10px {
    padding-top: 10px;
    padding-bottom: 10px;
}

.spacer {
    width: 100%;
    height: 25px;
}