/*  Leopold Hock | 30.04.2020   */

/*  Description: Contains style information for all layouting.  */

.marginAuto {
    margin: auto;
}

.margin-medium {
    margin: 15px;
}

.margin-vertical-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.margin-vertical-medium {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-horizontal-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-sides-tiny {
    margin-left: 2px;
    margin-right: 2px;
}

.margin-sides-small {
    margin-left: 5px;
    margin-right: 5px;
}

.margin-sides-medium {
    margin-left: 15px;
    margin-right: 15px;
}

.full-width {
    width: 100%;
}

.width75 {
    width: 75%;
}

.width66 {
    width: 66.666%;
}

.width50 {
    width: 50%;
}

.width33 {
    width: 33.333%;
}

.width25 {
    width: 25%;
}

.width20 {
    width: 20%;
}

.width15 {
    width: 15%;
}

.full-height {
    height: 100%;
}

.h-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    align-items: center;
}

.h-boxItem {
    height: 100%;
    display: flex;
    float: left;
    align-items: center;
}

.v-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.v-boxItem {
    width: 100%;
    justify-content: space-between;
}

.paddingSides10px {
    padding-left: 10px;
    padding-right: 10px;
}

.paddingTopBottom10px {
    padding-top: 10px;
    padding-bottom: 10px;
}

.paddingTopBottomNone {
    padding-top: 0;
    padding-bottom: 0;
}

.spacer {
    width: 100%;
    height: 25px;
}

.interactable-element {
    width: 100%;
    display: inline-flex;
}

.interactable-size-1 {
    max-width: 120px !important;
}

.interactable-size-2 {
    max-width: 245px !important;
}

.interactable-size-3 {
    max-width: 490px !important;
}

.interactable-size-4 {
    max-width: 735px !important;
}

.interactable-size-5 {
    max-width: 980px !important;
}

.display-none {
    display: none;
}

.min-height-small {
    min-height: 75px;
}

.min-height-large {
    min-height: 200px;
}

.responsive-column-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .responsive-column-group {
        display: table;
        border-collapse: separate;
        border-spacing: 10px 5px;
        left: -10px;
        right: -10px;
    }
    .responsive-column {
        display: table-cell;
    }
    .responsive-column-group>.responsive-column:first-child {
        margin-left: 0;
    }
    .responsive-column-group>.responsive-column:last-child {
        margin-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    /* For mobile: */
    .responsive-column {
        width: 100% !important;
    }
}