/*
Leopold Hock | 319.09.220
Description: Contains style information for modals and their components.
*/

.modal-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: var(--colorScreenBlocker);
}

.modal-container .ember-view {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 5;
    background-color: var(--colorPanelBackground);
    border-radius: 5px;
    width: 400px;
    max-width: 90%;
    max-height: 75%;
}

.modal-size-medium {
    width: 600px;
}

.modal-inner-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    background-color: var(--colorModalHeaderDefault);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.modal-header-title-container {
    display: flex;
    justify-content: start;
}

.modal-header-title {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.modal-header-default {
    background-color: var(--colorModalHeaderDefault);
}

.modal-header-warning {
    background-color: var(--colorModalHeaderWarning);
}

.modal-header-error {
    background-color: var(--colorModalHeaderError);
}

.modal-header-success {
    background-color: var(--colorModalHeaderSuccess);
}

.modal-header-icon {
    font-size: larger;
    margin: auto;
    color: white;
    padding-right: 5px;
}

.modal-inner-content {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    padding: 5px;
    overflow-y: auto;
}

.modal-inner-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    min-height: 50px;
    background-color: var(--colorModalFooter);
    border-top: 1px solid var(--colorPanelBorder);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}

.modal-inner-footer button {
    min-width: 60px;
    margin-left: 5px;
}

.modal-button-close {
    height: 40px;
    width: 40px;
    border: none;
    background: none;
    color: white;
    font-size: x-large;
}