.header-toolbar {
    width: 100%;
    height: var(--headerToolbarHeight);
    background-color: var(--colorPanelBackground);
    border-bottom: 1px solid var(--colorPanelBorder);
    display: flex;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.panel, form {
    display: flex;
    flex-direction: column;
}

.panel {
    margin: 10px auto 10px auto;
    padding: 25px;
    min-height: 50px;
    background-color: var(--colorPanelBackground);
    border: 1px solid var(--colorPanelBorder);
    border-radius: 1px;
}

.panel-inner {
    width: calc(100% - 10px);
    margin: 5px auto 5px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--colorPanelInnerBackground);
    border: 1px solid var(--colorPanelBorder);
}

.panel *, form * {
    max-width: 100%;
}

.panel-large {
    width: 100%;
}

.panel-medium {
    width: 1000px;
    max-width: 100%;
}

.panel-small {
    width: 500px;
    max-width: 100%;
}

.panel-sep {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 2px;
    height: 2px;
    background-color: white;
}