.header-toolbar {
    width: 100%;
    height: var(--headerToolbarHeight);
    background-color: var(--colorPanelBackground);
    border-bottom: 1px solid var(--colorPanelBorder);
    display: flex;
    position: relative;
    z-index: 2;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.panel-large {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px auto 10px auto;
    min-height: 50px;
    padding: 25px;
    background-color: var(--colorPanelBackground);
    border: 1px solid var(--colorPanelBorder);
    border-radius: 1px;
}

.panel-sep {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 2px;
    height: 2px;
    background-color: white;
}