/*  Leopold Hock | 30.04.2020   */

/*  Description: Contains style information for the sidebars and their child controls.  */

.sidebar {
    height: calc(100% - 40px);
    width: 0px;
    max-width: 300px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    background-color: var(--colorGreyDark);
}

.nav-sidebar {
    left: 0;
    border-right: 1px solid var(--colorGreyMedium);
}

.nav-sidebar-content {
    align-items: flex-start;
    height: 100%;
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.account-sidebar {
    right: 0;
    border-left: 1px solid var(--colorGreyMedium);
}

.account-sidebar-content {
    direction: rtl;
    align-items: flex-start;
    height: 100%;
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-item {
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: start;
}

.sidebar-header {
    margin: 10px 10px 10px 25px;
}

.sidebar-header-r {
    margin: 10px 25px 10px 10px;
}

.sidebar-header-toolbar {
    display: flex;
    margin-right: 5px;
}

.sidebar-item p {
    font-family: ARJulian;
    font-size: 18px;
}

.sidebar-sep {
    width: 100%;
    min-height: 2px;
    height: 2px;
    background-color: var(--colorGreyMedium);
}

.sidebar-button-1 {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    border: none;
    background-color: transparent;
    color: var(--colorGreyBright);
    text-align: left;
}

.sidebar-button-1:hover, .sidebar-button-1:active {
    background-color: var(--colorGreyMedium);
}

.sidebar-button-2 {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    border: none;
    background-color: transparent;
    color: var(--colorGreyBright);
    text-align: left;
}

.sidebar-button-2 p {
    font-size: 18px
}

.sidebar-button-2:hover, .sidebar-button-2:active {
    background-color: var(--colorGreyMedium);
}

.sidebar-button-2:disabled {
    background-color: transparent;
}

.sidebar-button-2:disabled * {
    color: var(--colorGreyTrans) !important;
}

.sidebar-button-2-selected {
    color: var(--colorTealNeon);
    background-color: var(--colorGreyMedium);
}

.sidebar-collapsible {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    border: none;
    background-color: transparent;
    color: var(--colorGreyBright);
    transition: 200ms;
    text-align: left;
}

.sidebar-collapsible:active, .sidebar-collapsible:hover {
    background-color: var(--colorGreyMedium);
}

.sidebar-collapsible-content {
    margin-left: 25px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 200ms ease-in-out;
}

.sidebar-button-tiny {
    height: 25px;
    width: 25px;
    background-color: transparent;
    color: var(--colorTealDark);
    border: none;
    transition: 200ms;
}

.sidebar-button-tiny:active, .sidebar-button-tiny:hover {
    color: var(--colorTealNeon);
}

.sidebar-collapsible-highlighted, .sidebar-collapsible-highlighted:active, .sidebar-collapsible-highlighted:hover {
    background-color: var(--colorTealDark);
}

.sidebar-collapsible-highlighted * {
    color: white;
    text-shadow: 0 0 10px #fff;
}