/*  Leopold Hock | 30.04.2020   */
/*  Description: Contains style information for all text elements.  */

.text-def-small {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    display: flex;
}

.text-def-medium {
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    display: flex;
}

.text-def-large {
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    display: flex;
}

.text-arj-large {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: ARJulian;
    font-size: 40px;
    display: flex;
}

.text-arg-huge {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: ARJulian;
    font-size: 60px;
    display: flex;
}

.heart {
    text-align: center;
    font-family: ARJulian;
    font-size: 100px;
}