<div class="vBox justify-content-center">
    <h1 class="fgTealNeon text-center"> New Horizons</h1>
    <div class="panelLarge">
        <h3>
            <h3 class="fgWhite text-center">The PenPaper Game</h3>
        </h3>
    </div>
</div>