<div class="v-box justify-content-center">
    <div class="spacer"></div>
    <div class="panel panel-large align-items-center">
        <h3 class="fg-teal-neon">¯\_(ツ)_/¯</h3>
        <div class="spacer"></div>
        <p>Hoppla... Wie bist Du denn hierhin gekommen?</p>
        <p class="text-center">Die Seite, die Du gesucht hast, gibt es vielleicht nicht. <a href="/">Hier</a> kommst Du
            wieder zurück.
        </p>
    </div>
</div>