<div class="v-box justify-content-center overflow-hidden">
    <h3 class="fg-white text-center">{{localize "Misc_SignIn"}}</h3>
    <div class="panel panel-small align-items-center">
        <Misc::sign-in />
    </div>
</div>