<div class="vBox justify-content-center">
    <h2 class="text-center">{{this.stellarpediaService.header}}</h2>
    <div class="panel-large vBoxItem paddingSides10px paddingTopBottom10px">
    </div>
</div>