<h2 class="text-center">{{localize "Misc_Support"}}</h2>
<div class="panel panel-large paddingSides10px paddingTopBottom10px justify-content-center">
    <FaIcon @icon="coffee" class="v-boxItem text-center" @size="3x" />
    <p1 class="v-boxItem text-justify justify-content-center">Möchtest Du mich unterstützen? Dann gib mir doch <a
            href="https://www.paypal.me/leopoldhock">einen Kaffee</a>
        aus!</p1>
    <FaIcon @icon="bed" class="v-boxItem text-center" @size="3x" />
    <p1 class="v-boxItem text-justify justify-content-center">Möchtest Du mir dabei helfen, ruhig zu schlafen? <a
            href="https://www.paypal.me/leopoldhock">einen Kaffee</a>
        aus!</p1>
</div>