<div class="panel panel-large h-box paddingTopBottomNone justify-content-between">
    <div class="h-boxItem">
        <p class="stellarpedia-status-text">{{this.stellarpediaService.currentPosition}}</p>
    </div>
    <div class="h-boxItem justify-content-end">
        <button type="button" class="button-icon-1">
            <FaIcon @icon="share" />
        </button>
        <button type="button" class="button-icon-1">
            <FaIcon @icon="search" />
        </button>
    </div>
</div>
<div class="panel">
    <Stellarpedia::article @entry={{this.stellarpediaService.selectedEntry}} />
</div>