<div class="v-box align-items-center">
    <img class="stellarpedia-image" src={{stellarpedia/sp-prepare @input}} alt="Source not found (404):
        {{stellarpedia/sp-prepare @input}}" />
    <p class=" stellarpedia-image-subtitle ">{{stellarpedia/sp-get-subtitle @input}}</p>
</div>