<h2 class="fg-white text-center">{{localize "Route_Generator_Origin_Title"}}</h2>
<Layout::Panel @size="medium" @alignment="center">
    <Stellarpedia::article @entry={{this.model.selectedStellarpediaEntry}} @titleAlignment="center" />
</Layout::Panel>