<div class="panelLarge">
    <h2 class="fgWhite text-center">Generator-Voreinstellungen</h2>
    <div class="panel-large vBox paddingSides10px paddingTopBottom10px">
        <Interactable::Dropdown @labelKey="Misc_Preset" @items={{this.model}}/>
        <Interactable::Dropdown @labelKey="Misc_Level" />
        <Interactable::Dropdown @labelKey="Misc_Preset" />
    </div>
</div>